RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)& index.php?url=$1 [QSA,L]
# Aqui nasce a url que está associada ao index.php
# então tudo que houver após localhost/aplicativo em localhost/aplicativo/controller/action/param, no caso controller/action/param
# Toda requisição vinda da URL ficará na variável $url

